<p id="notice"><%= notice %></p>

<p>
  <b>Event title:</b>
  <%= @event.event_title %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>

<p>
  <b>Event description:</b>
  <%= @event.event_description %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<%= link_to 'Post Availability', new_available_user_path :event_id = @event.id%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
