<h1>Listing available_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Event</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @available_users.each do |available_user| %>
  <tr>
    <td><%= available_user.user_id %></td>
    <td><%= available_user.name %></td>
    <td><%= available_user.event_id %></td>
    <td><%= available_user.user_name %></td>
    <td><%= link_to 'Show', available_user %></td>
    <td><%= link_to 'Edit', edit_available_user_path(available_user) %></td>
    <td><%= link_to 'Destroy', available_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Available user', new_available_user_path %>
