<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @available_user.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @available_user.event_id %>
</p>

<p>
  <b>Available:</b>
  <%= @available_user.available %>
</p>

<p>
  <b>Not available:</b>
  <%= @available_user.not_available %>
</p>

<p>
  <b>Maybe:</b>
  <%= @available_user.maybe %>
</p>


<%= link_to 'Edit', edit_available_user_path(@available_user) %> |
<%= link_to 'Back', available_users_path %>
